<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Perfil do cliente</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
    <header class="header">
        <a href="/" class="logo">
            <i class="fas fa-dumbbell"></i>FitNess
        </a>
        <nav class="navbar">
            <a href="/">Home</a>
        </nav>
    </header>

    <section class="cadastro">
        <div class="max-width">
            <div class="cadastro-content">
                <form method="put">
                    <div>
                        <label for="data_criacao">Data de Criação:</label>
                        <input type="text" id="data_criacao" name="data_criacao" required>
                    </div>
                    <div>
                        <label for="descricao">Descrição:</label>
                        <input type="text" id="descricao" name="descricao" required>
                    </div>
                    <div>
                        <label for="duracao_treino">Duração do Treino:</label>
                        <input type="text" id="duracao_treino" name="duracao_treino" required>
                    </div>
                    <div>
                        <label for="ombro_lateral">Ombro Lateral:</label>
                        <input type="text" id="ombro_lateral" name="ombro_lateral" required>
                    </div>
                    <div>
                        <label for="ombro_frontal">Ombro Frontal:</label>
                        <input type="text" id="ombro_frontal" name="ombro_frontal" required>
                    </div>
                    <div>
                        <label for="supino_reto">Supino Reto:</label>
                        <input type="text" id="supino_reto" name="supino_reto" required>
                    </div>
                    <div>
                        <label for="supino_inclinado">Supino Inclinado Reto:</label>
                        <input type="text" id="supino_inclinado" name="supino_inclinado" required>
                    </div>
                    <div>
                        <label for="crucifixo">Crucifixo:</label>
                        <input type="text" id="crucifixo" name="crucifixo" required>
                    </div>
                    <div>
                        <label for="puxador_frontal">Puxador Frontal:</label>
                        <input type="text" id="puxador_frontal" name="puxador_frontal" required>
                    </div>
                    <div>
                        <label for="puxador_costas">Puxador Costas:</label>
                        <input type="text" id="puxador_costas" name="puxador_costas" required>
                    </div>
                    <div>
                        <label for="remada_baixa">Remada Baixa:</label>
                        <input type="text" id="remada_baixa" name="remada_baixa" required>
                    </div>
                    <div>
                        <label for="remada_cavalo">Remada Cavalo:</label>
                        <input type="text" id="remada_cavalo" name="remada_cavalo" required>
                    </div>
                    <div>
                        <label for="triceps_corda">Tríceps Corda Baixa:</label>
                        <input type="text" id="triceps_corda" name="triceps_corda" required>
                    </div>
                    <div>
                        <label for="triceps_pulley">Tríceps Pulley:</label>
                        <input type="text" id="triceps_pulley" name="triceps_pulley" required>
                    </div>
                    <div>
                        <label for="rosca_biceps">Rosca Bíceps:</label>
                        <input type="text" id="rosca_biceps" name="rosca_biceps" required>
                    </div>
                    <div>
                        <label for="rosca_martelo">Rosca Martelo:</label>
                        <input type="text" id="rosca_martelo" name="rosca_martelo" required>
                    </div>
                    <div>
                        <label for="agachamento">Agachamento:</label>
                        <input type="text" id="agachamento" name="agachamento" required>
                    </div>
                    <div>
                        <label for="legpress">Legpress:</label>
                        <input type="text" id="legpress" name="legpress" required>
                    </div>
                    <div>
                        <label for="cadeira_extensora">Cadeira Extensora:</label>
                        <input type="text" id="cadeira_extensora" name="cadeira_extensora" required>
                    </div>
                    <div>
                        <label for="cadeira_flexora">Cadeira Flexora:</label>
                        <input type="text" id="cadeira_flexora" name="cadeira_flexora" required>
                    </div>
                    <div>
                        <label for="panturrilhas">Panturrilhas:</label>
                        <input type="text" id="panturrilhas" name="panturrilhas" required>
                    </div>
                    <div>
                        <label for="cardio">Cardio:</label>
                        <input type="text" id="cardio" name="cardio" required>
                    </div>
                    <div>
                        <label for="fitdance">Fitdance:</label>
                        <input type="text" id="fitdance" name="fitdance" required>
                    </div>
                    <div>
                        <label for="luta">Luta:</label>
                        <input type="text" id="luta" name="luta" required>
                    </div>
                    <div>
                        <label for="fk_Cliente_id_cliente">id cliente:</label>
                        <input type="number" id="fk_Cliente_id_cliente" name="fk_Cliente_id_cliente" required>
                    </div>

                    <div>
                        <input class="btn" type="submit" value="Alterar Ficha">
                    </div>
                </form>
            </div>
            <div class="home-image">
                <img src="../static/images/bg.jpg">
            </div>
        </div>
    </section>
    
</body>
</html>