<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contatos</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <i class="fas fa-dumbbell"></i>FitNess
        </a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="#">Serviços</a>
            <a href="/contatos">Contatos</a>
            <a href="#">Valores</a>
            <a href="#"> | </a>
            <a href="#">Login</a>
            <a href="#" class="btn">Increva-se</a>
        </nav>
    </header>
    <h3>Nossos contatos são:</h3>
    <p>E-mail: abc@gmail.com</p>
    <p>Telefone: (19) 9888-4444</p>
</body>
</html>